h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

.title {
  padding: 10px;
  font-size: 90px;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.form {
  width: 550px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.004);
  position: relative;
}

.mainInput {
  width: 550px;
  height: 65px;
  padding: 16px;
  padding-left: 60px;
  font-size: 22px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.03) 0px -2px 1px 0px inset;
  position: relative;
}

.mainInput::placeholder {
  font-size: 22px;
}

.mainInput + label::before {
  content: '❭';
  position: absolute;
  transform: rotate(90deg);
  left: -5px;
  top: 150px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: lightgray;
}

.mainInput.extra + label::before {
  color: rgb(77, 77, 77);
}

.todoItem {
  display: flex;
  align-items: center;
  width: 550px;
  height: 65px;
  color: #4d4d4d;
  font-size: 24px;
  padding: 15px;
  background-color: #fff;
  border-bottom: solid 1px lightgray;
  height: 100%;
}

.todoItem.editable button {
  display: none;
}

.editable {
  display: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  color: gray;
  display: inline-block;
  width: 30px;
  height: 30px;

  border: 1px solid gray;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.custom-checkbox:checked + label::before {
  border-color: green;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='green' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox.extra + label::before {
  border-color: green;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='green' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.description {
  padding: 15px;
  /* white-space: normal; */
  /* word-wrap: break-word; */

  word-break: break-word;
}

.description[contenteditable] {
  width: 100%;
}

.todoCompleted {
  text-decoration: line-through;
  color: rgb(177, 172, 172);
}

.btn {
  margin-left: auto;
  border: none;
  background-color: inherit;
  opacity: 0;
  color: rgb(199, 28, 28);
}

.todoItem:hover .btn,
.todoItem:focus .btn {
  opacity: 1;
}

.footerDiv {
  width: 550px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.filterBtn {
  background-color: #fff;
  outline: none;
  border: none;
}
.filterBtn:hover,
.filterBtn:focus {
  border-radius: 5px;
  border: solid 1px rgb(236, 128, 109);
}

.clearBtn {
  background-color: #fff;
  outline: none;
  border: none;
  opacity: 0;
}

.clearBtnShow {
  opacity: 1;
}

.clearBtn:hover,
.clearBtn:focus {
  text-decoration: underline;
}
